@font-face {
  font-family: 'StarJHol';
  src: url('assets/fonts/starjhol.ttf') format('truetype');
}

@font-face {
  font-family: 'StarJedi';
  src: url('assets/fonts/Starjedi.ttf') format('truetype');
}